body{
 background-image: url('bg.jpg');
 background-size: 105%;
  font-family: "Kelly Slab", sans-serif; 
  font-size: 20px;
  color: white;
  margin: 0;
  padding: 0;
}
.Container{
 display: inline-flex;
 width: 100%;
 height: 70px;
 background-color: 	#D05050;
 align-items: center;
 justify-content: center;
}
.kino{
 margin: 0px 4px 0px 4px;
 width: 40px;
 height: 40px;
}
.input1{
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 15px;
  width: 200px;
  height: 30px;
  border-style: none;
}
.MainButton{
  border: none;
  font-family: "Kelly Slab", sans-serif; 
  font-size: 40px;
  background-color: 	#D05050;
  color: white;
}
.MainButton:hover{
 text-shadow: 0px 1px black;
 opacity: 95%;
 cursor: pointer;
}
.kino2{
 margin-top: 8px;
 width: 20px;
 height: 20px;
 position: absolute;
 margin-left: 960px;
}
.Container2{
  justify-content: center;
  height: 2000px;
  width: 100%;
  display: flex;
  color: black;
  opacity: 80%;
  border: gray;
  border-left: 1px;
  border-right: 1px;
  border-top: 0px;
  border-bottom: 0px;
  border-style: groove;
}
.BlackButton{
  color: white;
}
.Container3{
  background-color: white;
  border-left: 2px;
  border-right: 2px;
  border-top: 0px;
  border-style: groove;
  width: 1280px;
  height: 2000px;
}
.Container4{
  background-color: white;
  border-left: 0px;
  border-right: 2px;
  border-top: 0px;
  border-style: groove;
  width: 280px;
  height: 2000px;
}


 

