.movieName{
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 48px;
    display: flex;
    justify-content: center;
}
.MoviePage{
    height: auto;
    display: flex;
    flex-direction: column;
}
.MoviePage img{
    height: 450px;
    width: 300px;
    border-radius: 50px;
    border: 3px solid black;
}
.blok1{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.blok2{
    background-color: rgb(214, 214, 214);
    padding: 20px;
    margin-left: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    
}
.text{
    font-weight: bold;
}
.blok3{
    background-color: rgb(214, 214, 214);
    margin: 20px 50px;
    width: auto;
    height: 300px;
    border-radius: 30px;
}
.filmCard{
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(209, 209, 209, 0.582);
    width: 90%;
    height: 90%;
    border-radius: 20px;
    cursor: pointer;
}
.grid-films{
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    grid-auto-rows: minmax(610px, auto);
    /* gap: 50px;  */
    width: 100%;
    height: 500px;
}
.filmName{
    font-size: 24px;
    font-family: "Kelly Slab", sans-serif; 
    font-weight: 600;
    
}
.filmCard img{
    height: 450px;
    width: 300px;
    border-radius: 50px;
    border: 1px solid black;
}
.link-reset {
  text-decoration: none;
  color: inherit;
}
.random-film{
    margin-top: 200px;
    width: 300px;
    height: 100px;
    border-radius: 100px;
    background-color: rgba(201, 201, 201, 0.801);
}
.text-button{
    font-size: 26px;
    font-family: "Kelly Slab", sans-serif; 
}